VITE_GEMINI_API_KEY=VITE_GROQ_API_KEY=gsk_1NT3sKMv89YLRAnRVVq1WGdyb3FYNvtHOvgeequnZAml0CAKJisXo
VITE_EMAILJS_SERVICE_ID=service_shjgk46
VITE_EMAILJS_TEMPLATE_ID=template_le567tx
VITE_EMAILJS_PUBLIC_KEY=_IMGSKZ3TcO4esf7y